# 영화 추천하기

In [2]:
# https://www.kaggle.com/rounakbanik/movie-recommender-systems/comments
import pandas as pd

# 영화 데이터셋 로드
data = pd.read_csv("./data/movies_metadata.csv", low_memory=False)

data.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [3]:
# data.info()
print('Toy Story : ', data["overview"][0])

print('Jumanji: ' ,data["overview"][1])

Toy Story :  Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.
Jumanji:  When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- into their living room. Alan's only hope for freedom is to finish the game, which proves risky as all three find themselves running from giant rhinoceroses, evil monkeys and other terrifying creatures.

In [4]:
# 데이터의 일부만 사용
#data = data.head(10000)
data = data.head(100)
# Null인 항목의 개수
data["overview"].isnull().sum()

1

In [5]:
# Null인 항목을 빈 값으로 대체
data["overview"] = data["overview"].fillna("")

# Null인 항목이 없어야 TfidfVectorizer() 가능
data["overview"].isnull().sum()

0

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer

# TF-IDF 변환
tf_idf = TfidfVectorizer(stop_words="english")

print('tf_idf',tf_idf)
tf_idf_matrix = tf_idf.fit_transform(data["overview"])
print('tf_idf_matrix',tf_idf_matrix)
# 데이터의 개수 : 10000
# 단어의 개수 : 32350
print(tf_idf_matrix.shape) # 내가 가지고 있는 100개의 데이터 셋에서, 리뷰한 문장(100개)중에 단어 1895개를 tf-idf로 만들어준다.

tf_idf TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=None,
                min_df=1, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words='english', strip_accents=None,
                sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)
tf_idf_matrix   (0, 465)	0.14721114778874372
  (0, 127)	0.14721114778874372
  (0, 957)	0.10974229903655366
  (0, 563)	0.1264798302733477
  (0, 519)	0.14721114778874372
  (0, 1176)	0.13508410445169333
  (0, 1497)	0.14721114778874372
  (0, 297)	0.13508410445169333
  (0, 1240)	0.14721114778874372
  (0, 760)	0.13508410445169333
  (0, 1223)	0.1264798302733477
  (0, 1002)	0.13508410445169333
  (0, 56)	0.14721114778874372
  (0, 1470)	0.14721114778874372
  (0, 973)	0.14721114778874372
  (0, 239)	0.44163344336623117
  (0, 221)	0.14721114778874372
  (0, 189)	0.13508410445169333
  (0, 1433)	0.11980583672111123
  (0, 747)	0.13508410445169333
  (0, 982)	0.10974229903655366
  (0, 1713)	0.14721114778874372
  (0, 90)	0.44163344336623117
  (0, 1875)	0.44163344336623117
  (0, 961)	0.13508410445169333
  :	:
  (99, 962)	0.19454780862648383
  (99, 1637)	0.19454780862648383
  (99, 1587)	0.19454780862648383
  (99, 1762)	0.19454780862648383
  (99, 1471)	0.19454780862648383
  (99, 211)	0.19454780862648383
  (99, 735)	0.19454780862648383
  (99, 754)	0.19454780862648383
  (99, 1457)	0.19454780862648383
  (99, 468)	0.38909561725296765
  (99, 100)	0.19454780862648383
  (99, 471)	0.19454780862648383
  (99, 213)	0.19454780862648383
  (99, 1124)	0.19454780862648383
  (99, 637)	0.19454780862648383
  (99, 591)	0.178521239023703
  (99, 1375)	0.178521239023703
  (99, 872)	0.178521239023703
  (99, 801)	0.178521239023703
  (99, 1060)	0.178521239023703
  (99, 386)	0.15112363732611922
  (99, 660)	0.15112363732611922
  (99, 205)	0.15112363732611922
  (99, 1100)	0.16715020692890004
  (99, 895)	0.15833014920991414
(100, 1895)

In [9]:
from sklearn.metrics.pairwise import linear_kernel

# 10000 x 10000을 서로 내적하여 코사인 유사도를 구함
# 각 항목은 두 영화의 유사도를 나타냄
cosine_sim = linear_kernel(tf_idf_matrix, tf_idf_matrix)

# print(cosine_sim.shape)
cosine_sim[0] # 토이스토리에 대한 영화..리뷰 중 1895개의 데이터가 나온 것이 array 값!!
# list(enumerate(cosine_sim[0]))

array([1.        , 0.01598601, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.05458107, 0.        , 0.        ,
       0.01154289, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.02818954, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.01001783, 0.        , 0.        ,
       0.01153539, 0.        , 0.        , 0.        , 0.01564414,
       0.01719673, 0.0123872 , 0.        , 0.        , 0.02021326,
       0.        , 0.02899379, 0.02263477, 0.        , 0.03478363,
       0.        , 0.        , 0.01329742, 0.        , 0.01449816,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.01733462, 0.        , 0.        , 0.        ,
       0.        , 0.01587915, 0.02146653, 0.03264754, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.01666605,
       0.        , 0.01719409, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ])

In [10]:

# 중복을 제거하여 영화 제목을 시리즈로 생성
indices = pd.Series(data.index, index=data["title"]).drop_duplicates()

print(indices.head())
indices['Father of the Bride Part II']  # 영화 제목을 넣었을 때, 인덱스를 만들어주는 코드.

title
Toy Story                      0
Jumanji                        1
Grumpier Old Men               2
Waiting to Exhale              3
Father of the Bride Part II    4
dtype: int64

4

title -> index -> 유사도 계산찾고 -> 정렬 ->5개 -> 제목 찾아줌.

In [11]:
# 유사한 영화를 구함
def get_similar(title, indices, cosine_sim):   # title에 토이스토리를 입력하면... 

    # 영화의 인덱스를 구함
    try:
        index = indices[title]  # 토이스토리가 몇번 인덱스인지 알려준다.
    except:
        return None
    
    # 토이스토리 영화의 유사도를 배열로 변환
    # 0 : 인덱스, 1 : 유사도
    scores = list(enumerate(cosine_sim[index])) # 인덱스가 들어오면, 유사도를 계산하고 찾고...

    # 유사도(x[1] 항목)를 기준으로 높은 순으로 정렬
    scores = sorted(scores, key=lambda x: x[1], reverse=True) # 정렬을 다시 해준다.

    # 가장 유사도가 높은 자신을 제외하고 5개를 추출
    scores = scores[1:6]
    #print(scores)
    # 인덱스를 구함
    indices = [x[0] for x in scores]
    #print(indices)
    # 각 인덱스의 영화 제목을 구함
    titles = data["title"].iloc[indices] 
    
    return titles

In [12]:
data["title"][[1,3]]

1              Jumanji
3    Waiting to Exhale
Name: title, dtype: object

In [13]:
get_similar("Toy Story", indices, cosine_sim)

17                     Four Rooms
59     The Indian in the Cupboard
83    Last Summer in the Hamptons
56          Home for the Holidays
33                           Babe
Name: title, dtype: object

In [15]:
get_similar("Star Wars", indices, cosine_sim)